@model AdressViewModel

@using (Html.BeginForm("ShowEdit", "Adress", FormMethod.Post))
{
    <div>
        <h5>Adress</h5>
        <hr />
        <form asp-action="ShowEdit" asp-controller="Adress">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdressId" />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Street)
            </dt>
            <dd class = "col-sm-10">
                @Html.TextBoxFor(model => model.Street,new { @Value = "Street" , @readonly = !Model.Edit })
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.StreetNumber)
            </dt>
            <dd class = "col-sm-10">
                @Html.TextBoxFor(model => model.StreetNumber,new { @Value = "Number", @disabled = !Model.Edit })
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.StreetNumberAddition)
            </dt>
            <dd class = "col-sm-10">
                @Html.TextBoxFor(model => model.StreetNumberAddition,new { @Value = "Addition", @disabled = !Model.Edit })
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Zipcode)
            </dt>
            <dd class = "col-sm-10">
                @Html.TextBoxFor(model => model.Zipcode,new { @Value = "Zipcode", @disabled = !Model.Edit })
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class = "col-sm-10">
                @Html.TextBoxFor(model => model.City,new { @Value = "City", @disabled = !Model.Edit })
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class = "col-sm-10">
                @Html.TextBoxFor(model => model.PhoneNumber,new { @Value = "Phonenumber", @disabled = !Model.Edit })
            </dd>
        </dl>
            @{
                string buttonText = Model.Edit ? "Submit" : "Edit";
            }
            <input type="submit" value=@buttonText class="btn btn-primary" />

            </form>
    </div>
}